html, body{
  margin:0;
  padding:0;
  position: relative;
  display: block;

}


h1{
  margin-left: 20%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #3b464e;
}

input{
  width: 100%;
  line-height: 150%;
  font-size: 14px;
  margin-top: 15px;
}

.profile-picture{
  width: 85px;
  height: 85px;
  border-radius: 100px;
  border: 1px black;
  display: block;
  margin: 5px auto;
  margin-top: 30px
}

.profile-name{
  text-align: center;
  color: white;
}

.content{
  margin-left: 260px;
  padding-top: 50px;
  display: block;
}

.auth-container{
  color: white;
  background-image: linear-gradient(45deg, #6e23be 0%, rgba(115, 35, 190, 0) 70%), linear-gradient(135deg, #643399 10%, rgba(104, 51, 153, 0) 80%), linear-gradient(225deg, #6921b5 10%, rgba(110, 33, 181, 0) 80%), linear-gradient(315deg, #6923b3 100%, rgba(109, 35, 179, 0) 70%);
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
  height: 200px;
}
.auth-container > div{
  margin-top: 100px;
  text-align: center;
  margin: 5px auto;
  font-size: 20px;
}

.button-ghost{
  display: block;
  text-align: center;
  color: white;
  background: transparent;
  border: 1px solid white;
  margin: 10px auto;
  padding: 10px;
  font-size: 14px;
  text-decoration: bold;
}
.button-ghost:hover{
  color: #6e23be;
  background: white;
  border: 1px solid white;
}


.button-inverse-ghost{
  display: block;
  text-align: center;
  color: #6e23be;
  background: transparent;
  border: 1px solid #6e23be;
  margin: 10px auto;
  padding: 10px;
  font-size: 14px;
  text-decoration: bold;
}
.button-inverse-ghost:hover{
  color: white;
  background: #6e23be;
  border: 1px solid #6e23be;
}

.bottom{
  position: relative;
  display: block;
  top: 50%;
}

.sidebar{
  font-size: 20px;
  position: fixed;
  left: 0;
  height: 100%;
  width: 260px;
  background-image: linear-gradient(45deg, #6e23be 0%, rgba(115, 35, 190, 0) 70%), linear-gradient(135deg, #643399 10%, rgba(104, 51, 153, 0) 80%), linear-gradient(225deg, #6921b5 10%, rgba(110, 33, 181, 0) 80%), linear-gradient(315deg, #6923b3 100%, rgba(109, 35, 179, 0) 70%);
}

.user-info{
  background: #E6E6F2;
  padding: 30px;
  margin: 20px;
}
